<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123445595</integer>
			<key>lat</key>
			<integer>41803772</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445810</integer>
			<key>lat</key>
			<integer>41805148</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41806731</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442548</integer>
			<key>lat</key>
			<integer>41806539</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443385</integer>
			<key>lat</key>
			<integer>41806395</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123443385</integer>
			<key>lat</key>
			<integer>41806491</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442613</integer>
			<key>lat</key>
			<integer>41806635</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41806843</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123447441</integer>
			<key>lat</key>
			<integer>41808474</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446475</integer>
			<key>lat</key>
			<integer>41807499</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446196</integer>
			<key>lat</key>
			<integer>41807067</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446089</integer>
			<key>lat</key>
			<integer>41806843</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445982</integer>
			<key>lat</key>
			<integer>41806555</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445746</integer>
			<key>lat</key>
			<integer>41805260</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123447527</integer>
			<key>lat</key>
			<integer>41808458</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41808251</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442849</integer>
			<key>lat</key>
			<integer>41803772</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442827</integer>
			<key>lat</key>
			<integer>41804556</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442827</integer>
			<key>lat</key>
			<integer>41804636</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442742</integer>
			<key>lat</key>
			<integer>41804700</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442398</integer>
			<key>lat</key>
			<integer>41804732</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41804716</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123445724</integer>
			<key>lat</key>
			<integer>41805164</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445488</integer>
			<key>lat</key>
			<integer>41803772</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123445939</integer>
			<key>lat</key>
			<integer>41806107</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443385</integer>
			<key>lat</key>
			<integer>41806491</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123445853</integer>
			<key>lat</key>
			<integer>41805244</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446089</integer>
			<key>lat</key>
			<integer>41806539</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446304</integer>
			<key>lat</key>
			<integer>41807019</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446561</integer>
			<key>lat</key>
			<integer>41807451</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447570</integer>
			<key>lat</key>
			<integer>41808474</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123445917</integer>
			<key>lat</key>
			<integer>41806011</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446797</integer>
			<key>lat</key>
			<integer>41805899</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447183</integer>
			<key>lat</key>
			<integer>41805851</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447334</integer>
			<key>lat</key>
			<integer>41805867</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447376</integer>
			<key>lat</key>
			<integer>41805915</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447441</integer>
			<key>lat</key>
			<integer>41805995</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447591</integer>
			<key>lat</key>
			<integer>41806475</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41806235</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41804604</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442398</integer>
			<key>lat</key>
			<integer>41804620</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442699</integer>
			<key>lat</key>
			<integer>41804604</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442742</integer>
			<key>lat</key>
			<integer>41804556</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442742</integer>
			<key>lat</key>
			<integer>41803772</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123443385</integer>
			<key>lat</key>
			<integer>41806395</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445917</integer>
			<key>lat</key>
			<integer>41806011</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123443428</integer>
			<key>lat</key>
			<integer>41806427</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443621</integer>
			<key>lat</key>
			<integer>41807131</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443836</integer>
			<key>lat</key>
			<integer>41808043</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443814</integer>
			<key>lat</key>
			<integer>41808123</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443600</integer>
			<key>lat</key>
			<integer>41808203</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442548</integer>
			<key>lat</key>
			<integer>41808474</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442398</integer>
			<key>lat</key>
			<integer>41808410</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443578</integer>
			<key>lat</key>
			<integer>41808123</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443707</integer>
			<key>lat</key>
			<integer>41808059</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443536</integer>
			<key>lat</key>
			<integer>41807147</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443342</integer>
			<key>lat</key>
			<integer>41806459</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41806331</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447527</integer>
			<key>lat</key>
			<integer>41806603</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447334</integer>
			<key>lat</key>
			<integer>41806043</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447291</integer>
			<key>lat</key>
			<integer>41805963</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446819</integer>
			<key>lat</key>
			<integer>41805979</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445939</integer>
			<key>lat</key>
			<integer>41806107</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41805100</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442377</integer>
			<key>lat</key>
			<integer>41805116</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444630</integer>
			<key>lat</key>
			<integer>41805132</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445767</integer>
			<key>lat</key>
			<integer>41805100</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41805196</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445810</integer>
			<key>lat</key>
			<integer>41805308</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123445810</integer>
			<key>lat</key>
			<integer>41805308</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444179</integer>
			<key>lat</key>
			<integer>41805340</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41805308</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442377</integer>
			<key>lat</key>
			<integer>41808474</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442162</integer>
			<key>lat</key>
			<integer>41807931</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41807595</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123445767</integer>
			<key>lat</key>
			<integer>41805100</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41804972</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41807387</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442248</integer>
			<key>lat</key>
			<integer>41807883</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442463</integer>
			<key>lat</key>
			<integer>41808474</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123429846</integer>
			<key>lat</key>
			<integer>41815224</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431069</integer>
			<key>lat</key>
			<integer>41815272</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123431069</integer>
			<key>lat</key>
			<integer>41815367</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429846</integer>
			<key>lat</key>
			<integer>41815320</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123425490</integer>
			<key>lat</key>
			<integer>41814376</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123427678</integer>
			<key>lat</key>
			<integer>41814616</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123426305</integer>
			<key>lat</key>
			<integer>41812041</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123426412</integer>
			<key>lat</key>
			<integer>41812441</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123426648</integer>
			<key>lat</key>
			<integer>41813640</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428043</integer>
			<key>lat</key>
			<integer>41813848</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123428000</integer>
			<key>lat</key>
			<integer>41813896</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428172</integer>
			<key>lat</key>
			<integer>41812969</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428172</integer>
			<key>lat</key>
			<integer>41812713</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428065</integer>
			<key>lat</key>
			<integer>41811961</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123425490</integer>
			<key>lat</key>
			<integer>41813512</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425876</integer>
			<key>lat</key>
			<integer>41813544</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123426605</integer>
			<key>lat</key>
			<integer>41813640</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123426605</integer>
			<key>lat</key>
			<integer>41813736</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425854</integer>
			<key>lat</key>
			<integer>41813640</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425490</integer>
			<key>lat</key>
			<integer>41813608</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123431047</integer>
			<key>lat</key>
			<integer>41815288</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431798</integer>
			<key>lat</key>
			<integer>41814664</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123428086</integer>
			<key>lat</key>
			<integer>41813928</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123426799</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123427678</integer>
			<key>lat</key>
			<integer>41814712</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425490</integer>
			<key>lat</key>
			<integer>41814472</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123428172</integer>
			<key>lat</key>
			<integer>41811961</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428279</integer>
			<key>lat</key>
			<integer>41812729</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428279</integer>
			<key>lat</key>
			<integer>41812969</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428086</integer>
			<key>lat</key>
			<integer>41813912</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123429052</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429073</integer>
			<key>lat</key>
			<integer>41816615</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429331</integer>
			<key>lat</key>
			<integer>41815336</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429395</integer>
			<key>lat</key>
			<integer>41815192</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429609</integer>
			<key>lat</key>
			<integer>41814968</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123428043</integer>
			<key>lat</key>
			<integer>41813960</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123426563</integer>
			<key>lat</key>
			<integer>41813736</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123426198</integer>
			<key>lat</key>
			<integer>41812073</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123426691</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428000</integer>
			<key>lat</key>
			<integer>41813880</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123431090</integer>
			<key>lat</key>
			<integer>41814168</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431627</integer>
			<key>lat</key>
			<integer>41814184</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431798</integer>
			<key>lat</key>
			<integer>41814184</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123429824</integer>
			<key>lat</key>
			<integer>41814216</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428236</integer>
			<key>lat</key>
			<integer>41814040</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428022</integer>
			<key>lat</key>
			<integer>41813944</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123428043</integer>
			<key>lat</key>
			<integer>41813848</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123428279</integer>
			<key>lat</key>
			<integer>41813816</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429867</integer>
			<key>lat</key>
			<integer>41813976</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123431090</integer>
			<key>lat</key>
			<integer>41814168</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431412</integer>
			<key>lat</key>
			<integer>41814248</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431605</integer>
			<key>lat</key>
			<integer>41814312</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431798</integer>
			<key>lat</key>
			<integer>41814392</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123430189</integer>
			<key>lat</key>
			<integer>41813464</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123430382</integer>
			<key>lat</key>
			<integer>41813768</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431112</integer>
			<key>lat</key>
			<integer>41814168</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123430039</integer>
			<key>lat</key>
			<integer>41813976</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431090</integer>
			<key>lat</key>
			<integer>41814168</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123431798</integer>
			<key>lat</key>
			<integer>41814648</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431627</integer>
			<key>lat</key>
			<integer>41814568</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123431026</integer>
			<key>lat</key>
			<integer>41814408</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429996</integer>
			<key>lat</key>
			<integer>41814216</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123426262</integer>
			<key>lat</key>
			<integer>41812105</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425490</integer>
			<key>lat</key>
			<integer>41812153</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123429846</integer>
			<key>lat</key>
			<integer>41815016</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429910</integer>
			<key>lat</key>
			<integer>41815256</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123429910</integer>
			<key>lat</key>
			<integer>41815288</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429674</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123430039</integer>
			<key>lat</key>
			<integer>41814184</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429846</integer>
			<key>lat</key>
			<integer>41815048</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429545</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123430511</integer>
			<key>lat</key>
			<integer>41811961</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123430189</integer>
			<key>lat</key>
			<integer>41813512</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123430189</integer>
			<key>lat</key>
			<integer>41813496</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123430082</integer>
			<key>lat</key>
			<integer>41814040</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429545</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123429803</integer>
			<key>lat</key>
			<integer>41814008</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123430232</integer>
			<key>lat</key>
			<integer>41811961</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123429288</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123429781</integer>
			<key>lat</key>
			<integer>41814152</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123425060</integer>
			<key>lat</key>
			<integer>41814328</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123426305</integer>
			<key>lat</key>
			<integer>41814456</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123425060</integer>
			<key>lat</key>
			<integer>41814424</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423151</integer>
			<key>lat</key>
			<integer>41814248</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123424996</integer>
			<key>lat</key>
			<integer>41814376</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425103</integer>
			<key>lat</key>
			<integer>41813480</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425854</integer>
			<key>lat</key>
			<integer>41813544</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123426305</integer>
			<key>lat</key>
			<integer>41813592</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123426305</integer>
			<key>lat</key>
			<integer>41813704</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425833</integer>
			<key>lat</key>
			<integer>41813640</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425189</integer>
			<key>lat</key>
			<integer>41813592</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425103</integer>
			<key>lat</key>
			<integer>41814376</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123423172</integer>
			<key>lat</key>
			<integer>41814136</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425060</integer>
			<key>lat</key>
			<integer>41814328</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123423108</integer>
			<key>lat</key>
			<integer>41814184</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423301</integer>
			<key>lat</key>
			<integer>41813177</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423322</integer>
			<key>lat</key>
			<integer>41812937</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423279</integer>
			<key>lat</key>
			<integer>41812249</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123423365</integer>
			<key>lat</key>
			<integer>41812233</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423408</integer>
			<key>lat</key>
			<integer>41812937</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423408</integer>
			<key>lat</key>
			<integer>41813208</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423215</integer>
			<key>lat</key>
			<integer>41814200</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123426305</integer>
			<key>lat</key>
			<integer>41814568</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123425060</integer>
			<key>lat</key>
			<integer>41814424</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123426262</integer>
			<key>lat</key>
			<integer>41812105</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123424009</integer>
			<key>lat</key>
			<integer>41812281</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423344</integer>
			<key>lat</key>
			<integer>41812297</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423129</integer>
			<key>lat</key>
			<integer>41812249</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123423001</integer>
			<key>lat</key>
			<integer>41812121</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123421134</integer>
			<key>lat</key>
			<integer>41812169</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421541</integer>
			<key>lat</key>
			<integer>41813288</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421756</integer>
			<key>lat</key>
			<integer>41813960</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421885</integer>
			<key>lat</key>
			<integer>41814872</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421885</integer>
			<key>lat</key>
			<integer>41815112</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421885</integer>
			<key>lat</key>
			<integer>41815288</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421777</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123421477</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421627</integer>
			<key>lat</key>
			<integer>41815128</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421541</integer>
			<key>lat</key>
			<integer>41814280</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421477</integer>
			<key>lat</key>
			<integer>41813992</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123421241</integer>
			<key>lat</key>
			<integer>41813240</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123420876</integer>
			<key>lat</key>
			<integer>41812201</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123443171</integer>
			<key>lat</key>
			<integer>41810282</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444544</integer>
			<key>lat</key>
			<integer>41809834</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444823</integer>
			<key>lat</key>
			<integer>41809498</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445016</integer>
			<key>lat</key>
			<integer>41809370</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446325</integer>
			<key>lat</key>
			<integer>41808874</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447527</integer>
			<key>lat</key>
			<integer>41808474</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123443986</integer>
			<key>lat</key>
			<integer>41810458</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443965</integer>
			<key>lat</key>
			<integer>41810250</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443879</integer>
			<key>lat</key>
			<integer>41810122</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123443986</integer>
			<key>lat</key>
			<integer>41810058</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444051</integer>
			<key>lat</key>
			<integer>41810218</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444093</integer>
			<key>lat</key>
			<integer>41810458</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41809450</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448170</integer>
			<key>lat</key>
			<integer>41809258</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447956</integer>
			<key>lat</key>
			<integer>41809002</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447505</integer>
			<key>lat</key>
			<integer>41808554</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123447505</integer>
			<key>lat</key>
			<integer>41808554</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446840</integer>
			<key>lat</key>
			<integer>41807867</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123447548</integer>
			<key>lat</key>
			<integer>41808570</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446368</integer>
			<key>lat</key>
			<integer>41808970</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445038</integer>
			<key>lat</key>
			<integer>41809466</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444887</integer>
			<key>lat</key>
			<integer>41809562</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444587</integer>
			<key>lat</key>
			<integer>41809914</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443214</integer>
			<key>lat</key>
			<integer>41810378</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123447527</integer>
			<key>lat</key>
			<integer>41808474</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41808267</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123446969</integer>
			<key>lat</key>
			<integer>41807867</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447570</integer>
			<key>lat</key>
			<integer>41808474</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123447570</integer>
			<key>lat</key>
			<integer>41808474</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448042</integer>
			<key>lat</key>
			<integer>41808922</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41809226</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41808378</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123447548</integer>
			<key>lat</key>
			<integer>41808570</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123443793</integer>
			<key>lat</key>
			<integer>41807867</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443836</integer>
			<key>lat</key>
			<integer>41808043</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443814</integer>
			<key>lat</key>
			<integer>41808107</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443600</integer>
			<key>lat</key>
			<integer>41808219</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442420</integer>
			<key>lat</key>
			<integer>41808522</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442398</integer>
			<key>lat</key>
			<integer>41808426</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443578</integer>
			<key>lat</key>
			<integer>41808123</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443707</integer>
			<key>lat</key>
			<integer>41808059</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443686</integer>
			<key>lat</key>
			<integer>41807867</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123443214</integer>
			<key>lat</key>
			<integer>41810282</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444802</integer>
			<key>lat</key>
			<integer>41810522</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123444780</integer>
			<key>lat</key>
			<integer>41810905</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443814</integer>
			<key>lat</key>
			<integer>41810778</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442506</integer>
			<key>lat</key>
			<integer>41810538</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442591</integer>
			<key>lat</key>
			<integer>41810122</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443214</integer>
			<key>lat</key>
			<integer>41810282</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123444802</integer>
			<key>lat</key>
			<integer>41810522</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446261</integer>
			<key>lat</key>
			<integer>41810538</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41810506</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123444802</integer>
			<key>lat</key>
			<integer>41810522</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445402</integer>
			<key>lat</key>
			<integer>41810442</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41810410</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442398</integer>
			<key>lat</key>
			<integer>41810490</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41810410</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41810937</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446561</integer>
			<key>lat</key>
			<integer>41810985</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445231</integer>
			<key>lat</key>
			<integer>41811017</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444759</integer>
			<key>lat</key>
			<integer>41810905</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41810937</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123446561</integer>
			<key>lat</key>
			<integer>41810985</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445231</integer>
			<key>lat</key>
			<integer>41811017</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444759</integer>
			<key>lat</key>
			<integer>41810905</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41810010</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442591</integer>
			<key>lat</key>
			<integer>41810122</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442548</integer>
			<key>lat</key>
			<integer>41810170</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442613</integer>
			<key>lat</key>
			<integer>41809482</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442570</integer>
			<key>lat</key>
			<integer>41809034</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442162</integer>
			<key>lat</key>
			<integer>41807931</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442119</integer>
			<key>lat</key>
			<integer>41807867</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41810857</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123445231</integer>
			<key>lat</key>
			<integer>41810921</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444780</integer>
			<key>lat</key>
			<integer>41810905</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442548</integer>
			<key>lat</key>
			<integer>41810522</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41811289</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442248</integer>
			<key>lat</key>
			<integer>41807867</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442248</integer>
			<key>lat</key>
			<integer>41807883</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442677</integer>
			<key>lat</key>
			<integer>41809002</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442720</integer>
			<key>lat</key>
			<integer>41809482</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123442634</integer>
			<key>lat</key>
			<integer>41810186</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41810778</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444823</integer>
			<key>lat</key>
			<integer>41810842</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444115</integer>
			<key>lat</key>
			<integer>41810762</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41810314</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123441969</integer>
			<key>lat</key>
			<integer>41810122</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123443879</integer>
			<key>lat</key>
			<integer>41810506</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123444802</integer>
			<key>lat</key>
			<integer>41810634</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123448278</integer>
			<key>lat</key>
			<integer>41810586</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123436476</integer>
			<key>lat</key>
			<integer>41815511</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123438085</integer>
			<key>lat</key>
			<integer>41816183</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123436476</integer>
			<key>lat</key>
			<integer>41814888</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123438278</integer>
			<key>lat</key>
			<integer>41815607</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123438472</integer>
			<key>lat</key>
			<integer>41815671</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>lon</key>
			<integer>123442548</integer>
			<key>lat</key>
			<integer>41815719</integer>
		</dict>
		<dict>
			<key>lon</key>
			<integer>123441819</integer>
			<key>lat</key>
			<integer>41816663</integer>
		</dict>
	</array>
</array>
</plist>
