<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>可折叠的tableview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F175AE0D1DF8FDBD005C3980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F175AE261DF8FDBD005C3980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F175AE311DF8FDBD005C3980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
